/* Welcome to content.scss - Here are rules that does not fit anywhere else */

//Body and Wrapper rules
* {
	margin: 0;
}

html, body {
  height: 100%;
  background-color: $background;
  margin-top: 60px;
  @include single-column {
  	margin-top: 40px;
  }
}

img {
	height: auto;
}

.wrapper {
  padding: 0 20px;
  clear: both;
  @include single-column {
  	padding: 0 10px;
  }
}
