/* Welcome to fonts.scss - Here are rules that control your fonts.
Put your fonts in the fonts/ folder and add them accordingly here.
Remember to remove the slashes in front of the rows */

@charset "UTF-8";

/* Caslon 540 */
@font-face {
  font-family: 'Caslon';
  font-weight: normal;
  font-style: normal;
  src:  url('fonts/3312FF_2_0.eot');
  src:  url('fonts/3312FF_2_0.eot?#iefix') format('embedded-opentype'),
        url('fonts/3312FF_2_0.woff') format('woff'),
        url('fonts/3312FF_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Caslon';
  font-weight: normal;
  font-style: italic;
  src:  url('fonts/3312FF_0_0.eot');
  src:  url('fonts/3312FF_0_0.eot?#iefix') format('embedded-opentype'),
        url('fonts/3312FF_0_0.woff') format('woff'),
        url('fonts/3312FF_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'CaslonCAPS';
  font-weight: normal;
  font-style: normal;
  src:  url('fonts/3312FF_1_0.eot');
  src:  url('fonts/3312FF_1_0.eot?#iefix') format('embedded-opentype'),
        url('fonts/3312FF_1_0.woff') format('woff'),
        url('fonts/3312FF_1_0.woff') format('truetype');
}

/* Copperplate */
@font-face {
  font-family: 'Copper';
  font-weight: normal;
  font-style: normal;
  src:  url('fonts/331C6E_0_0.eot');
  src:  url('fonts/331C6E_0_0.eot?#iefix') format('embedded-opentype'),
        url('fonts/331C6E_0_0.woff') format('woff'),
        url('fonts/331C6E_0_0.ttf') format('truetype');
}
