body {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  border-bottom: 0px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-img {
    width: 60px;
  }
}
