header {
  margin-top: 20px;
  a {
    border-bottom: none;

    &:hover {
      border-bottom: none;
      fill: blue;
    }
  }
  .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-img {
      max-width: 70%;
    }
    .icon-images {
      width: 40px;
    }
  }
  #mobile-menu {
    margin-top: 10px;
    li {
      a {
        display: block;
        width: 40%;
        margin: 0 auto -1px auto;
        @include x-rem(font-size, 6.6);
        color: $pri_grey;
        font-family: 'Caslon', serif;
        letter-spacing: 1px;
        line-height: 1.2;
        font-weight: lighter;
        border-top: solid $pri_text 1px;
        border-bottom: solid $pri_text 1px;
        @include single-column {
          @include x-rem(font-size, 2.6);
          width: 55%;
        }
      }
    }
  }
}
