

header {
  margin-top: 20px;
  margin-bottom: 20px;
  a {
    border-bottom: none;

    &:hover {
      border-bottom: none;
      fill: blue;
    }
  }
  .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-img {
      max-width: 50%;
    }
    .icon-images {
      height: 35px;
    }
  }

}
