/* Welcome to type.scss - Here are rules that controls all typefaces on the
page. Add your settings here before you create your page so you know where
to use what font and size */

html {
  font-size: $main-font-size;
}

body {
  font-family: Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $pri_text;
  line-height: 1.5;
}

// headers
h1, h2, h3, h4, h5, h6 {
  color: $pri_grey;
  font-family: Times, serif;
  letter-spacing: 1px;
}
h1 {
  @include x-rem(font-size, 6);
  margin-bottom: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top: solid $pri_text 2px;
  border-bottom: solid $pri_text 2px;
  @include single-column {
    @include x-rem(font-size, 2.4);
  }
}
h1.bright {
  color: #fff;
}
h2 {
  @include x-rem(font-size, 1.8);
  color: $pri_text;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: solid $pri_text 2px;
  text-transform: uppercase;
  :first-of-type {
    border-top: solid $pri_text 2px;
  }
}
h3 {
  @include x-rem(font-size, 1.8);
}

// Text
p {
  @include x-rem(font-size, 1.5);
  margin-bottom: 1.5em;
}

p.small {
  @include x-rem(font-size, 1.2);
}

p.sanserif {
  font-family: Helvetica, sans-serif;
  color: #000;
  text-transform: uppercase;
  @include x-rem(font-size, 1.2);
}

// Links
a {
  @include x-rem(font-size, 1.6);
  text-decoration: none;
  color: $pri_text;
  font-weight: bold;
  font-family: Times, serif;
  border-bottom: 1px solid $pri_text;
  &:hover {
    color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }
}
a.bright {
  color: #fff;
  border-bottom: 1px solid #fff;
  &:hover {
    color: rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
}
