<header class="wrapper">
  <div class="row">
    <div class="icon-container">
      <a class="icon-images mini-toggler" href="#mobile-menu"><img src="images/header/menu.svg" /></a>
      <img class="logo-img" src="images/header/logo.png" />
      <a class="icon-images" href="#"><img src="images/header/flag_swe.png" /></a>
    </div>
    <div id="mobile-menu" class="hidden">
      <ul>
        <li><a id="about-container-link" href="#about-container" class="main-link mini-toggler">om oss</a></li>
        <li><a id="coworkers-container-link" href="#coworkers-container" class="main-link mini-toggler">medarbetare</a></li>
        <li><a id="recruitment-container-link" href="#recruitment-container" class="main-link mini-toggler">rekrytering</a></li>
        <li><a id="contact-container-link" href="#contact-container" class="main-link mini-toggler">kontakt</a></li>
      </ul>
    </div>
  </div>
</header>
