<header class="wrapper">
  <div class="row">
    <div class="icon-container">
      <img src="images/menu.svg" />
      <img class="logo-img" src="images/logo.png" />
      <img src="images/flag.png" />
    </div>
  </div>
</header>
