<header class="wrapper">
  <div class="row">
    <div class="icon-container">
      <a class="icon-images mini-toggler" href="#mobile-menu"><img src="images/header/menu.svg" /></a>
      <img class="logo-img" src="images/header/logo.png" />
      <a class="icon-images" href="#"><img src="images/header/flag_uk.png" /></a>
    </div>
    <div id="mobile-menu" class="hidden">
      <ul>
        <li><a href="#one">om oss</a></li>
        <li><a href="#two">medarbetare</a></li>
        <li><a href="#three">rekrytering</a></li>
        <li><a href="#four">kontakt</a></li>
      </ul>
    </div>
  </div>
</header>
