<header class="wrapper">
  <div class="row">
    <div class="icon-container">
      <a href="#"><img class="icon-images" src="images/header/menu.svg" /></a>
      <img class="logo-img" src="images/header/logo.png" />
      <a href="#"><img class="icon-images" src="images/header/flag.png" /></a>
    </div>
  </div>
</header>
