---
title: Andra sidan
---
<%= partial "header" %>
<div class="wrapper">
	<div class="row">
		<ul class="gridder">
			<li class="gridder-list" data-griddercontent="#content1">
			    <img src="http://placehold.it/600x400" />
			</li>
			<li class="gridder-list" data-griddercontent="#content2">
			    <img src="http://placehold.it/600x400" />
			</li>
			<li class="gridder-list" data-griddercontent="#content3">
			    <img src="http://placehold.it/600x400" />
			</li>
			<li class="gridder-list" data-griddercontent="#content4">
			    <img src="http://placehold.it/600x400" />
			</li>
			<li class="gridder-list" data-griddercontent="#content5">
			    <img src="http://placehold.it/600x400" />
			</li>
			<li class="gridder-list" data-griddercontent="#content6">
			    <img src="http://placehold.it/600x400" />
			</li>
		</ul>
	</div>
</div>

<div id="content1" class="gridder-content"> Content goes here... </div>
<div id="content2" class="gridder-content"> Content goes here... </div>
<div id="content3" class="gridder-content"> Content goes here... </div>
<div id="content4" class="gridder-content"> Content goes here... </div>
<div id="content5" class="gridder-content"> Content goes here... </div>
<div id="content6" class="gridder-content"> Content goes here... </div>