---
title: Startsida
---
<%= partial "header" %>


<section id="one" class="wrapper content-section">
  <div class="row">
    <div class="image-text">
      <img src="images/hero/img_1.jpg" />
      <div><p>norburg & scherp advokatbyrå.</br> tvistlösning, processer & skiljeförfaranden.</p></div>
    </div>
    <a href="#about-container" class="main-link mini-toggler">om oss</a>
    <div id="about-container" class="sub-sites hidden">
      <p>Norburg & Scherp agerar ombud för svenska och internationella parter i affärstvister, i skiljeförfaranden och inför domstol. Norburg & Scherp har stor erfarenhet av affärstvister inom många olika branscher och områden, bl.a. rörande företagsförvärv, aktieägaravtal, kommersiella avtal, IT och telekom, energi, råvaror och gruvindustri, tillverkningsindustri, entreprenader, bolagsrättsliga tvister, hyresrättsliga tvister, immaterialrätt och marknadsrätt.</p>
      <p>Norburg & Scherp agerar också ofta ombud i förvaltningsprocess, t.ex. angående överprövningar av offentliga upphandlingar, sekretessfrågor och tvistlösning inom telekomområdet.</p>
      <p>Advokatbyråns skiljedomserfarenhet inkluderar uppdrag som ombud och skiljemän i svenska och internationella skiljeförfaranden enligt Stockholms Handelskammares Skiljedomsinstituts (SCC), Internationella Handelskammarens (ICC), UNCITRAL:s och Finska Handelskammarens Skiljedomsregler, samt enligt lagen om skiljeförfarande.</p>
      <a href="#content1" class="sub-link mini-toggler">what other's say</a>
      <div id="content1" class="sub-content hidden">
        <p class="italic">“At Norburg & Scherp, the “superb” Pontus Scherp is one of the foremost arbitration experts in Sweden.”</p>
        <p class="sanserif right-align">Who's who legal arbitration - future leaders 2017</p>
      </div>
      <a href="#content5" class="sub-link mini-toggler">allmäna villkor</a>
      <div id="content5" class="sub-content sub-terms hidden">
        <p>Vi tillämpar allmänna villkor för våra tjänster. </br>Ladda ned de allmänna villkoren här:</p>
        <a href="#">Allmänna villkor (sv) (PDF)</a>
      </div>
    </div>
  </div>
</section>

<section id="two" class="wrapper content-section">
  <div class="row">
    <img src="images/hero/img_2.jpg" />
    <a href="#coworkers-container" class="main-link mini-toggler">medarbetare</a>
    <div id="coworkers-container" class="sub-coworkers hidden">
      <ul class="gridder">
        <li class="gridder-list" data-griddercontent="#gridder-content-1">
          <img src="images/coworkers/coworker_1.jpg" />
          <div>
            <p class="coworkers-name">fredrik norburg</p>
            <p class="coworkers-title">advokat, partner</p>
            <p class="coworkers-email">e-mail: fredrik.norburg@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 658 20 80</p>
            <p class="coworkers-mobile">mobile: +46 707 785 720</p>
            <span>Läs mer ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-2">
          <img src="images/coworkers/coworker_2.jpg" />
          <div>
            <p class="coworkers-name">pontus scherp</p>
            <p class="coworkers-title">advokat, partner</p>
            <p class="coworkers-email">e-mail: pontus.scherp@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 658 20 80</p>
            <p class="coworkers-mobile">mobile: +46 707 785 720</p>
            <span>Läs mer ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-3">
          <img src="images/coworkers/coworker_3.jpg" />
          <div>
            <p class="coworkers-name">catarina rivero lira</p>
            <p class="coworkers-title">associate</p>
            <p class="coworkers-email">e-mail: catarina.riverolira@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 658 20 80</p>
            <p class="coworkers-mobile">mobile: +46 707 785 720</p>
            <span>Läs mer ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-4">
          <img src="images/coworkers/coworker_1.jpg" />
          <div>
            <p class="coworkers-name">fredrik norburg</p>
            <p class="coworkers-title">advokat, partner</p>
            <p class="coworkers-email">e-mail: fredrik.norburg@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 658 20 80</p>
            <p class="coworkers-mobile">mobile: +46 707 785 720</p>
            <span>Läs mer ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-5">
          <img src="images/coworkers/coworker_2.jpg" />
          <div>
            <p class="coworkers-name">pontus scherp</p>
            <p class="coworkers-title">advokat, partner</p>
            <p class="coworkers-email">e-mail: pontus.scherp@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 658 20 80</p>
            <p class="coworkers-mobile">mobile: +46 707 785 720</p>
            <span>Läs mer ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-6">
          <img src="images/coworkers/coworker_3.jpg" />
          <div>
            <p class="coworkers-name">catarina rivero lira</p>
            <p class="coworkers-title">associate</p>
            <p class="coworkers-email">e-mail: catarina.riverolira@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 658 20 80</p>
            <p class="coworkers-mobile">mobile: +46 707 785 720</p>
            <span>Läs mer ></span>
          </div>
        </li>
      </ul>
      <div id="gridder-content-1" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Norburg & Scherp, Advokat/Partner 2013–</br>Norburg Advokatbyrå, Advokat/Partner 2009–2013</br>Bird & Bird, Advokat/Associate 2008–2009</br>Mannheimer Swartling, Advokat/Associate 1999–2008</br>Swedish Arbitration Association, Secretary and Member of the Executive Committe 2004–2012</p>
        <span class="head">EDUCATION</span>
        <p>LL.M. 1999, Gothenburg University</br>Studies in German law 1998, Mannheim University, Germany</br>Studies in American and International law at the 2002 Academy of American and International Law, Dallas, USA</br>Training program for arbitrators 2008 arranged by the Swedish Arbitration Association (SAA) and the Arbitration Institute of the Stockholm Chamber of Commerce (SCC)</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Swedish Bar Association 2004–</br>Chairman of the Advisory Board of the Stockholm International Hearing Centre</br>Swedish Arbitration Association (SAA)</br>Swedish Society for Construction and Consulting Law (SVEFEK)</br>Swedish Insurance Law Association</p>
        <span class="head">LANGUAGES</span>
        <p>Swedish (native)</br>English (fluent)</br>German (basic)</p>
      </div>
      <div id="gridder-content-2" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur.</p>
        <span class="head">EDUCATION</span>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <span class="head">LANGUAGES</span>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <div id="gridder-content-3" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis.</p>
        <span class="head">EDUCATION</span>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <span class="head">LANGUAGES</span>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
      <div id="gridder-content-4" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
        <span class="head">EDUCATION</span>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.</p>
        <span class="head">LANGUAGES</span>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div id="gridder-content-5" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.</p>
        <span class="head">EDUCATION</span>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.</p>
        <span class="head">LANGUAGES</span>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div id="gridder-content-6" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <span class="head">EDUCATION</span>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <span class="head">LANGUAGES</span>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div>
</section>

<section id="three" class="wrapper content-section">
  <div class="row">
    <img src="images/hero/img_3.jpg" />
    <a href="#recruitment-container" class="main-link mini-toggler">rekrytering</a>
    <div id="recruitment-container" class="sub-sites hidden">
      <p>Ga. Et volupta simusae por sectessimus est aut erum enditat lant, quatur aut audae lantiuntiant et excepudit earum id maios explic tempores sit eiumque vellesed que acipsa corro millori andant, omni ut mos dusda peribus que paris am, comnihi cienem et qui dolum nulland asi dolore et eicidebis core odignia erunt. Ligentotatur audit, corit doluptat proreperum, sernatibea iusaped eiunt que recabor itaerumendae prae voluptatur ad.</p>
      <a href="#">rekrytering@norburgscherp.se</a>
      <span class="border-bottom"></span>
    </div>
  </div>
</section>

<section id="four" class="wrapper content-section">
  <div class="row">
      <img src="images/hero/img_4.jpg" />
      <a href="#contact-container" class="main-link mini-toggler">kontakt</a>
      <div id="contact-container" class="sub-sites sub-contact hidden">
        <p>
        Norburg & Scherp Advokatbyrå AB<br/>
        Birger Jarlsgatan 15<br/>
        SE-111 45 Stockholm, Sweden<br/>
        Tel: +46 8 420 035 00<br/>
        Fax: +46 8 501 215 91<br/>
        E-mail: INFO@NORBURGSCHERP.SE<br/>
        Company registration No. 556945-8051<br/>
        VAT no. SE556945805101<br/>
        </p>
        <div style="
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.9159992667812!2d18.07309821441132!3d59.33435624477971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d5b7f2bd645%3A0x5c46a82e044f8d20!2sBirger+Jarlsgatan+15%2C+111+45+Stockholm!5e0!3m2!1ssv!2sse!4v1488231165486"></iframe>
        </div>
        <span class="border-bottom"></span>
      </div>
  </div>
</section>


<section class="wrapper footer">
  <div class="row">
      <p class="sanserif">norburg & scherp advokatbyrå ab, stockholm, sweden.<br/>
      följ oss på linkedin</p>
      <img style="width: 80px;" src="images/footer/logo.png" />
  </div>
</section>
