---
title: Startsida
---
<%= partial "header" %>


<section class="wrapper first_section">
  <div class="row">
      <img src="images/img_1.jpg" />
      <p class="header">NORBURG & SCHERP ADVOKATBYRÅ.
TVISTLÖSNING, PROCESSER & SKILJEFÖRFARANDEN.</p>
  </div>
  <div class="row">
      <div class="main_link">
        <a href="#"><h1>om oss</h1></a>
      </div>
  </div>
  <div class="row">
    <p>
      Norburg & Scherp agerar ombud för svenska och internationella parter i
      affärstvister, i skiljeförfaranden och inför domstol.
      Norburg & Scherp har stor erfarenhet av affärstvister inom många olika
      branscher och områden, bl.a. rörande företagsförvärv, aktieägaravtal,
      kommersiella avtal, IT och telekom, energi, råvaror och gruvindustri,
      tillverkningsindustri, entreprenader, bolagsrättsliga tvister, hyresrättsliga
      tvister, immaterialrätt och marknadsrätt.
    </p>
    <p>
      Norburg & Scherp agerar också ofta ombud i förvaltningsprocess, t.ex.
      angående överprövningar av offentliga upphandlingar, sekretessfrågor och
      tvistlösning inom telekomområdet.
    </p>
    <p>
      Advokatbyråns skiljedomserfarenhet inkluderar uppdrag som ombud och
      skiljemän i svenska och internationella skiljeförfaranden enligt Stockholms
      Handelskammares Skiljedomsinstituts (SCC), Internationella Handelskammarens
      (ICC), UNCITRAL:s och Finska Handelskammarens
      Skiljedomsregler, samt enligt lagen om skiljeförfarande.
      Byråns advokater utses vida
    </p>
  </div>
</section>

<section class="wrapper section">
  <div class="row">
      <img src="images/img_2.jpg" />
  </div>
  <div class="row">
    <div class="main_link">
      <a href="#"><h1>medarbetare</h1></a>
    </div>
  </div>
</section>

<section class="wrapper section">
  <div class="row">
    <img src="images/img_3.jpg" />
  </div>
  <div class="row">
    <div class="main_link">
      <a href="#"><h1>rekrytering</h1></a>
    </div>
  </div>
</section>

<section class="wrapper section">
  <div class="row">
      <img src="images/img_4.jpg" />
  </div>
  <div class="row">
    <div class="main_link">
      <a href="#"><h1>kontakt</h1></a>
    </div>
  </div>
</section>

<section class="wrapper footer">
  <div class="row">
      <p class="header">NORBURG & SCHERP ADVOKATBYRÅ AB, STOCKHOLM, SWEDEN.<br/>
      FÖLJ OSS PÅ LINKEDIN</p>
  </div>
</section>
