---
title: Startsida
---
<%= partial "header" %>

<section class="wrapper">
  <div class="row">
    <div class="eightcol">
      <h1>HEJJ</h1>
      <a href="/about.html">vidare</a>
    </div>
    <div class="fourcol">
      <h2>4 kolumner</h2>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="row">
    <div class="eightcol">
      <h1>HEJJ</h1>
      <a href="/about.html">vidare</a>
    </div>
    <div class="fourcol">
      <h2>4 kolumner</h2>
    </div>
  </div>
</section>
