---
title: Startsida
---
<%= partial "header" %>


<section class="wrapper first_section">
  <div class="row">
      <img src="images/hero/img_1.jpg" />
      <p class="header">
        norburg & scherp advokatbyrå. tvistlösning, processer & skiljeförfaranden.
      </p>
  </div>
  <div class="row">
      <div class="main_link">
        <a href="#"><h1>om oss</h1></a>
      </div>
  </div>
  <div class="row">
    <p>
      Norburg & Scherp agerar ombud för svenska och internationella parter i
      affärstvister, i skiljeförfaranden och inför domstol.
      Norburg & Scherp har stor erfarenhet av affärstvister inom många olika
      branscher och områden, bl.a. rörande företagsförvärv, aktieägaravtal,
      kommersiella avtal, IT och telekom, energi, råvaror och gruvindustri,
      tillverkningsindustri, entreprenader, bolagsrättsliga tvister, hyresrättsliga
      tvister, immaterialrätt och marknadsrätt.
    </p>
    <p>
      Norburg & Scherp agerar också ofta ombud i förvaltningsprocess, t.ex.
      angående överprövningar av offentliga upphandlingar, sekretessfrågor och
      tvistlösning inom telekomområdet.
    </p>
    <p>
      Advokatbyråns skiljedomserfarenhet inkluderar uppdrag som ombud och
      skiljemän i svenska och internationella skiljeförfaranden enligt Stockholms
      Handelskammares Skiljedomsinstituts (SCC), Internationella Handelskammarens
      (ICC), UNCITRAL:s och Finska Handelskammarens
      Skiljedomsregler, samt enligt lagen om skiljeförfarande.
      Byråns advokater utses vida
    </p>
    <div class="sec_link">
      <a href="#"><h2>what other's say</h2></a>
      <a href="#"><h2>work highlights</h2></a>
      <a href="#"><h2>notable practitioners</h2></a>
      <a href="#"><h2>significant clients</h2></a>
      <a href="#"><h2>allmäna villkor</h2></a>
    </div>
  </div>
</section>

<section class="wrapper section">
  <div class="row">
      <img src="images/hero/img_2.jpg" />
  </div>
  <div class="row">
    <div class="main_link">
      <a href="#"><h1>medarbetare</h1></a>
    </div>
  </div>
  <div class="row">
    <ul class="coworkers">
      <li>
        <img src="images/coworkers/coworker_1.jpg" />
        <p class="header">fredrik norburg</p>
        <p class="header">advokat, partner<br/>
          e-mail: fredrik.norburg@norburgscherp.se<br/>
          tel: +46 8 658 20 80<br/>
          mobile: +46 707 785 720
        </p>
        <a href="#">Läs mer ></a>
      </li>
      <li>
        <img src="images/coworkers/coworker_2.jpg" />
        <p class="header">pontus scherp</p>
        <p class="header">advokat, partner<br/>
          e-mail: pontus.scherp@norburgscherp.se<br/>
          tel: +46 8 658 20 80<br/>
          mobile: +46 707 785 720
        </p>
        <a href="#">Läs mer ></a>
      </li>
      <li>
        <img src="images/coworkers/coworker_3.jpg" />
        <p class="header">catarina rivero lira</p>
        <p class="header">associate<br/>
          e-mail: catarina.riverolira@norburgscherp.se<br/>
          tel: +46 8 658 20 80<br/>
          mobile: +46 707 785 720
        </p>
        <a href="#">Läs mer ></a>
      </li>
      <li>
        <img src="images/coworkers/coworker_1.jpg" />
        <p class="header">fredrik norburg</p>
        <p class="header">advokat, partner<br/>
          e-mail: fredrik.norburg@norburgscherp.se<br/>
          tel: +46 8 658 20 80<br/>
          mobile: +46 707 785 720
        </p>
        <a href="#">Läs mer ></a>
      </li>
      <li>
        <img src="images/coworkers/coworker_2.jpg" />
        <p class="header">pontus scherp</p>
        <p class="header">advokat, partner<br/>
          e-mail: pontus.scherp@norburgscherp.se<br/>
          tel: +46 8 658 20 80<br/>
          mobile: +46 707 785 720
        </p>
        <a href="#">Läs mer ></a>
      </li>
      <li>
        <img src="images/coworkers/coworker_3.jpg" />
        <p class="header">catarina rivero lira</p>
        <p class="header">associate<br/>
          e-mail: catarina.riverolira@norburgscherp.se<br/>
          tel: +46 8 658 20 80<br/>
          mobile: +46 707 785 720
        </p>
        <a href="#">Läs mer ></a>
      </li>
    </ul>
  </div>

</section>

<section class="wrapper section">
  <div class="row">
    <img src="images/hero/img_3.jpg" />
  </div>
  <div class="row">
    <div class="main_link">
      <a href="#"><h1>rekrytering</h1></a>
    </div>
  </div>
</section>

<section class="wrapper section">
  <div class="row">
      <img src="images/hero/img_4.jpg" />
  </div>
  <div class="row">
    <div class="main_link">
      <a href="#"><h1>kontakt</h1></a>
    </div>
  </div>
</section>

<section class="wrapper footer">
  <div class="row">
      <p class="header">norburg & scherp advokatbyrå ab, stockholm, sweden.<br/>
      följ oss på linkedin</p>
  </div>
</section>
