---
title: Startsida
---
<%= partial "header" %>


<section class="wrapper first_section">
  <div class="row">
    <div class="twelvecol">
      <img src="images/img_1.jpg" />
      <p class="company_description">NORBURG & SCHERP ADVOKATBYRÅ.
TVISTLÖSNING, PROCESSER & SKILJEFÖRFARANDEN.</p>
      <div class="main_link">
        <a href="#"><h1>om oss</h1></a>
      </div>
    </div>
  </div>
</section>

<section class="wrapper section">
  <div class="row">
    <div class="twelvecol"> <!-- Twelvecol är samma sak som row -->
      <img src="images/img_2.jpg" />
    </div>
    <div class="main_link">
      <a href="#"><h1>medarbetare</h1></a>
    </div>
  </div>
</section>

<section class="wrapper section">
  <div class="row"> <!-- Fungerar likadant som sektionen ovanför fast vi tog bort twelvecol -->
    <img src="images/img_3.jpg" />
    <div class="main_link">
      <a href="#"><h1>rekrytering</h1></a>
    </div>
  </div>
</section>

<section class="wrapper section">
  <div class="row">
    <div class="twelvecol">
      <img src="images/img_4.jpg" />
    </div>
    <div class="main_link">
      <a href="#"><h1>kontakt</h1></a>
    </div>
  </div>
</section>

<section class="wrapper footer">
  <div class="row">
    <div class="twelvecol">
      <p>NORBURG & SCHERP ADVOKATBYRÅ AB, STOCKHOLM, SWEDEN.<br/>
      FÖLJ OSS PÅ LINKEDIN</p>
    </div>
  </div>
</section>
