---
title: Startsida
---
<%= partial "header" %>


<section id="one" class="wrapper content-section">
  <div class="row">
    <div class="image-text">
      <img class="desktop-only" src="images/hero/img_1.jpg" />
      <img class="mobile-only" src="images/hero/img_1_mobile.jpg" />
      <div><p>dispute resolution, arbitration & litigation</p></div>
    </div>
    <a href="#about-container" class="main-link mini-toggler">about us</a>
    <div id="about-container" class="sub-sites hidden">
      <p>Norburg & Scherp represents Swedish and international clients as counsel in commercial disputes in Swedish and international arbitration, and before Swedish courts of all instances.</p>
      <p>Norburg & Scherp has extensive experience of disputes in a number of different industries and fields, including mergers & acquisitions, joint ventures, construction, insurance, foreign investments, mining, energy, manufacturing, company law, renting law, IT and telecom, intellectual property, marketing and licensing.</p>
      <p>Norburg & Scherp also frequently acts as counsel in administrative litigation, including public procurement appeals, secrecy issues and telecom disputes.</p>
      <a href="#content1" class="sub-link mini-toggler">what other&#8217;s say</a>
      <div id="content1" class="sub-content hidden">
        <p class="italic">“At Norburg & Scherp, the “superb” Pontus Scherp is one of the foremost arbitration experts in Sweden.”</p>
        <p class="sanserif right-align">Who's who legal arbitration - future leaders 2017</p>
      </div>
      <a href="#content5" class="sub-link mini-toggler">general terms and conditions</a>
      <div id="content5" class="sub-content sub-terms hidden">
        <p>We apply General Terms and Conditions for our services. </br>Download here:</p>
        <a href="#">General Terms and Conditions (en) (PDF)</a>
      </div>
    </div>
  </div>
</section>

<section id="two" class="wrapper content-section">
  <div class="row">
    <img class="desktop-only" src="images/hero/img_2.jpg" />
    <img class="mobile-only" src="images/hero/img_2_mobile.jpg" />
    <a href="#coworkers-container" class="main-link mini-toggler">our people</a>
    <div id="coworkers-container" class="sub-coworkers hidden">
      <ul class="gridder">
        <li class="gridder-list" data-griddercontent="#gridder-content-1">
          <img src="images/coworkers/fredrik.jpg" />
          <div>
            <p class="coworkers-name">fredrik norburg</p>
            <p class="coworkers-title">partner</p>
            <p class="coworkers-email">e-mail: fredrik.norburg@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 658 20 80</p>
            <p class="coworkers-mobile">mobile: +46 707 785 720</p>
            <p class="coworkers-linkedin"><a href="http://se.linkedin.com/in/fredriknorburg">se.linkedin.com/in/fredriknorburg</a></p>
            <span>Read more ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-2">
          <img src="images/coworkers/pontus.jpg" />
          <div>
            <p class="coworkers-name">pontus scherp</p>
            <p class="coworkers-title">partner</p>
            <p class="coworkers-email">e-mail: pontus.scherp@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 658 20 80</p>
            <p class="coworkers-mobile">mobile: +46 707 785 720</p>
            <p class="coworkers-linkedin"><a href="http://se.linkedin.com/in/pontusscherp">se.linkedin.com/in/pontusscherp</a></p>
            <span>Read more ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-3">
          <img src="images/coworkers/catarina.jpg" />
          <div>
            <p class="coworkers-name">catarina rivero lira</p>
            <p class="coworkers-title">associate</p>
            <p class="coworkers-email">e-mail: catarina.riverolira@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 509 315 97</p>
            <p class="coworkers-mobile">mobile: +46 705 775 447</p>
            <p>&nbsp;</p>
            <span>Read more ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-4">
          <img src="images/coworkers/erik.jpg" />
          <div>
            <p class="coworkers-name">erik wrisemo</p>
            <p class="coworkers-title">associate</p>
            <p class="coworkers-email">e-mail: erik.wrisemo@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 509 309 14</p>
            <p class="coworkers-mobile">mobile: +46 766 779 606</p>
            <p>&nbsp;</p>
            <span>Read more ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-5">
          <img src="images/coworkers/erika.jpg" />
          <div>
            <p class="coworkers-name">erika finn</p>
            <p class="coworkers-title">senior associate</p>
            <p class="coworkers-email">e-mail: erika.finn@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 662 20 80</p>
            <p class="coworkers-mobile">mobile: +46 705 784 705</p>
            <p class="coworkers-linkedin"><a href="http://se.linkedin.com/in/finnerika">se.linkedin.com/in/finnerika</a></p>
            <span>Read more ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-6">
          <img src="images/coworkers/william.jpg" />
          <div>
            <p class="coworkers-name">william svärd</p>
            <p class="coworkers-title">associate</p>
            <p class="coworkers-email">e-mail: william.svard@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 551 056 97</p>
            <p class="coworkers-mobile">mobile: +46 724 025 869</p>
            <p>&nbsp;</p>
            <span>Read more ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-7">
          <img src="images/coworkers/kajsa.jpg" />
          <div>
            <p class="coworkers-name">kajsa åkesson</p>
            <p class="coworkers-title">associate</p>
            <p class="coworkers-email">e-mail: kajsa.akesson@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 551 056 98</p>
            <p class="coworkers-mobile">mobile: +46 724 020 498</p>
            <p>&nbsp;</p>
            <span>Read more ></span>
          </div>
        </li>
        <li class="gridder-list" data-griddercontent="#gridder-content-8">
          <img src="images/coworkers/cajsa.jpg" />
          <div>
            <p class="coworkers-name">cajsa billebjer</p>
            <p class="coworkers-title">assistant</p>
            <p class="coworkers-email">e-mail: cajsa.billebjer@norburgscherp.se</p>
            <p class="coworkers-tel">tel: +46 8 501 214 09</p>
            <p class="coworkers-mobile">&nbsp;</p>
            <p>&nbsp;</p>
            <span>Read more ></span>
          </div>
        </li>
      </ul>
      <div id="gridder-content-1" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Norburg & Scherp, Advokat/Partner 2013–</br>Norburg Advokatbyrå, Advokat/Partner 2009–2013</br>Bird & Bird, Advokat/Associate 2008–2009</br>Mannheimer Swartling, Advokat/Associate 1999–2008</br>Swedish Arbitration Association, Secretary and Member of the Executive Committe 2004–2012</p>
        <span class="head">EDUCATION</span>
        <p>LL.M. 1999, Gothenburg University</br>Studies in German law 1998, Mannheim University, Germany</br>Studies in American and International law at the 2002 Academy of American and International Law, Dallas, USA</br>Training program for arbitrators 2008 arranged by the Swedish Arbitration Association (SAA) and the Arbitration Institute of the Stockholm Chamber of Commerce (SCC)</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Swedish Bar Association 2004–</br>Chairman of the Advisory Board of the Stockholm International Hearing Centre</br>Swedish Arbitration Association (SAA)</br>Swedish Society for Construction and Consulting Law (SVEFEK)</br>Swedish Insurance Law Association</p>
        <span class="head">LANGUAGES</span>
        <p>Swedish (native)</br>English (fluent)</br>German (basic)</p>
      </div>
      <div id="gridder-content-2" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Norburg & Scherp, Advokat/Partner 2013–</br>Gernandt & Danielsson, Advokat/Counsel 2006–2013</br>RydinCarlsten, Associate 2001–2006</p>
        <span class="head">EDUCATION</span>
        <p>LL.M. 2001, Uppsala University</br>Law studies American and International law at the University of Minnesota Law School, USA, 1998</br>CIArb Diploma in International Commercial Arbitration, Oxford, 2011–2012</br>CIArb International Award Writing, London, 2011–2012</br>Training program for arbitrators 2013-2014 arranged by the Swedish Arbitration Association (SAA) and the Arbitration Institute of the Stockholm Chamber of Commerce (SCC)</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Swedish Bar Association 2006–</br>Fellow of the Chartered Institute of Arbitrators</br>International Bar Association</br>ICC Commission on Arbitration and ADR</br>Swedish Arbitration Association (SAA)</br>Young Arbitrators Sweden (YAS)</br>Swedish Association for the Protection of Intellectual Property (SFIR)</p>
        <span class="head">PUBLICATIONS</span>
        <p>Stockholm International Arbitration Review 2009:2, p. 133–138,</br><i>Supreme Court of Sweden Decision in Case No Ö 13-09 on April 16, 2010</i></p><p>International Law Office Newsletter 5 January 2012,</br><i>Court promotes arbitrability in international arbitration</i></p><p>International Law Office Newsletter 5 July 2011,</br><i>Obtaining a court order to compel production of an expert opinion: is it possible?</i></p><p>International Law Office Newsletter 31 March 2011,</br><i>Supreme Court rules on due notification for respondents</i></p><p>International Law Office Newsletter 12 January 2007,</br><i>Report on Money Laundering and Financing of Terrorism</i></p><p>International Law Office Newsletter 13 October 2006,</br><i>Authority Suggests Review of Regulations in Light of Custodia Case</i></p>
        <span class="head">LANGUAGES</span>
        <p>Swedish (native)</br>English (fluent)</br>German (basic)</p>
      </div>
      <div id="gridder-content-3" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Norburg & Scherp Advokatbyrå, Associate 2014-</br>Nacka District Court, Law Clerk 2012-2014</p>
        <span class="head">EDUCATION</span>
        <p>LL.M. 2012, Stockholm University</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Swedish Arbitration Association (SAA)</br>Young Arbitrators Sweden (YAS)</br>Swedish Women in Arbitration Network (SWAN)</p>
        <span class="head">LANGUAGES</span>
        <p>Swedish (native)</br>Spanish (native)</br>English (fluent)</br>French (basic)</p>
      </div>
      <div id="gridder-content-4" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Norburg & Scherp Advokatbyrå, Associate 2014–</p>
        <span class="head">EDUCATION</span>
        <p>LL.M. 2014, Stockholm University</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Swedish Arbitration Association (SAA)</br>Young Arbitrators Sweden (YAS)</p>
        <span class="head">LANGUAGES</span>
        <p>Swedish (native)</br>English (fluent)</br>French (basic)</p>
      </div>
      <div id="gridder-content-5" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Norburg & Scherp, Advokat/Senior Associate 2015–</br>Setterwalls, Advokat/Associate 2010–2015</br>District Court of Attunda, Law clerk 2009-2010</br>Gernandt & Danielsson, Associate 2007-2009</p>
        <span class="head">EDUCATION</span>
        <p>LL.M. 2007, Stockholm University</br>Studies in International Law 2005-2006, Erasmus University, the Netherlands</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Swedish Bar Association 2013–</br>Young Arbitrators Sweden (YAS)</br>Swedish Women in Arbitration Network (SWAN)</p>
        <span class="head">PUBLICATIONS</span>
        <p>World Arbitration Reporter (WAR) – Second Edition 2014, </br><i>Volume 3 The Arbitration Institute of the Stockholm Chamber of Commerce (SCC) (Co-author)</i></p>
        <span class="head">LANGUAGES</span>
        <p>Swedish (native)</br>English (fluent)</p>
      </div>
      <div id="gridder-content-6" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Norburg & Scherp, Associate 2015–</br>TT News Agency and other media companies, journalist 2007–2013</p>
        <span class="head">EDUCATION</span>
        <p>LL.M. 2015, Stockholm University</br>Journalism, Stockholm University, 2006–2007</br>M.Sc. 2005, KTH Royal Institute of Technology</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Young Arbitrators Sweden (YAS)</p>
        <span class="head">LANGUAGES</span>
        <p>Swedish (native)</br>English (fluent)</p>
      </div>
      <div id="gridder-content-7" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Norburg & Scherp Advokatbyrå, Associate 2015–</br>Skarp Stockholm Advokatbyrå, Associate 2014–2015</br>District Court of Stockholm, Law clerk 2012–2014</p>
        <span class="head">EDUCATION</span>
        <p>LL.M. 2012, Lund University</br>Studies in Commercial Law 2011, University of East Anglia, England</br>Studies in political economy and social science 2007, Lund University</p>
        <span class="head">MEMBERSHIPS</span>
        <p>Young Arbitrators Sweden (YAS)</br>Swedish Women in Arbitration Network (SWAN)</br>Swedish Copyright Association (SFU)</p>
        <span class="head">LANGUAGES</span>
        <p>Swedish (native)</br>English (fluent)</p>
      </div>
      <div id="gridder-content-8" class="coworkers-content">
        <span class="head">EXPERIENCE</span>
        <p>Norburg & Scherp Advokatbyrå, Assistant 2016–</p>
        <span class="head">LANGUAGES</span>
        <p>Swedish (native)</br>English (fluent)</p>
      </div>
    </div>
  </div>
</section>

<section id="three" class="wrapper content-section">
  <div class="row">
    <img class="desktop-only" src="images/hero/img_3.jpg" />
    <img class="mobile-only" src="images/hero/img_3_mobile.jpg" />
    <a href="#recruitment-container" class="main-link mini-toggler">recruitment</a>
    <div id="recruitment-container" class="sub-sites hidden">
      <p>Ga. Et volupta simusae por sectessimus est aut erum enditat lant, quatur aut audae lantiuntiant et excepudit earum id maios explic tempores sit eiumque vellesed que acipsa corro millori andant, omni ut mos dusda peribus que paris am, comnihi cienem et qui dolum nulland asi dolore et eicidebis core odignia erunt. Ligentotatur audit, corit doluptat proreperum, sernatibea iusaped eiunt que recabor itaerumendae prae voluptatur ad.</p>
      <a href="#">rekrytering@norburgscherp.se</a>
      <span class="border-bottom"></span>
    </div>
  </div>
</section>

<section id="four" class="wrapper content-section">
  <div class="row">
      <img class="desktop-only" src="images/hero/img_4.jpg" />
      <img class="mobile-only" src="images/hero/img_4_mobile.jpg" />
      <a href="#contact-container" class="main-link mini-toggler">contact</a>
      <div id="contact-container" class="sub-sites sub-contact hidden">
        <p>
        Norburg & Scherp Advokatbyrå AB<br/>
        Birger Jarlsgatan 15<br/>
        SE-111 45 Stockholm, Sweden<br/>
        Tel: +46 8 420 035 00<br/>
        Fax: +46 8 501 215 91<br/>
        E-mail: INFO@NORBURGSCHERP.SE<br/>
        Company registration No. 556945-8051<br/>
        VAT no. SE556945805101<br/>
        </p>
        <div style="
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.9159992667812!2d18.07309821441132!3d59.33435624477971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d5b7f2bd645%3A0x5c46a82e044f8d20!2sBirger+Jarlsgatan+15%2C+111+45+Stockholm!5e0!3m2!1ssv!2sse!4v1488231165486"></iframe>
        </div>
        <span class="border-bottom"></span>
      </div>
  </div>
</section>


<section class="wrapper footer">
  <div class="row">
      <p class="sanserif">norburg & scherp advokatbyrå ab, stockholm, sweden.<br/>
      följ oss på linkedin</p>
      <img style="width: 80px;" src="images/footer/logo.png" />
  </div>
</section>
