.index {
  .content-section {
    margin-top: 30px;
    // img {
    //   display: block;
    // }
    .image-text {
      position: relative;
      div {
        width: 100%;
        position: absolute;
        top: 30px;
        left:0;
        right:0;
        p {
          margin: 0 auto;
          color: #fff;
          font-family: 'Copper';
          @include single-column {
            @include x-rem(font-size, 1.3);
          }
          @include single-column-smaller {
            @include x-rem(font-size, 1.1);
          }
        }
      }
    }
    .main-link {
      display: block;
      width: 40%;
      margin: 30px auto 0 auto;
      @include x-rem(font-size, 4.8);
      color: $pri_grey;
      font-family: 'Caslon', serif;
      font-weight: lighter;
      line-height: 1.2;
      border-top: solid $pri_text 1px;
      border-bottom: solid $pri_text 1px;
      @include single-column {
        @include x-rem(font-size, 4.6);
        width: 75%;
      }
    }
    .sub-sites {
      width: 55%;
      margin: 30px auto;
      text-align: left;
      @include single-column {
        width: 100%;
      }
      a {
        color: $pri_grey;
        border-bottom: none;
      }
      .sub-link {
        display: block;
        width: 70%;
        margin: 0 auto;
        padding-top: 1px;
        padding-bottom: 1px;
        border-bottom: solid $pri_text 1px;
        border-top: solid $pri_text 1px;
        margin-bottom: -1px;
        text-align: center;
        color: $pri_text;
        font-weight: lighter;
        font-family: 'CaslonCAPS', serif;
        @include x-rem(font-size, 2);
        @include single-column {
          @include x-rem(font-size, 2.8);
          width: 75%;
        }
      }
      .sub-content {
        margin: 30px auto;
        width: 100%;
      }
      .sub-terms {
        text-align: center;
        a {
          color: $pri_grey;
          border-bottom: none;
        }
      }
    }
    .sub-coworkers {
      margin: 30px 0;
      .gridder {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        font-size:0;
        .selectedItem {
          div {
            // span {
            //   display: none;
            // }
            &:after,
            &:before {
              bottom: -1px;
              // bottom: -68.4%;
              z-index: 10;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }
            &:after {
              border-color: rgba(255, 255, 255, 0);
              border-bottom-color: #F7F8F8;
              border-width: 10px;
              margin-left: -10px;
            }
            &:before {
              border-color: rgba(0, 0, 0, 0);
              border-bottom-color: #000;
              border-width: 11px;
              margin-left: -11px;
            }
          }
        }
        li {
          display: inline-block;
          vertical-align: top;
          @include rowMachine(3,1%);
          @include single-column {
            @include rowMachine(1,1%);
          }
          div {
            padding: 20px 0;
            position: relative;
            line-height: 1.8;
            letter-spacing: 0.8px;
            .coworkers-name,
            .coworkers-mobile {
              margin-bottom: 10px;
              text-transform: uppercase;
              font-family: 'Copper';
              color: $pri_text;
              @include x-rem(font-size, 1.2);
            }
            .coworkers-title,
            .coworkers-email,
            .coworkers-tel, {
              margin-bottom: 0;
              font-family: 'Copper';
              color: $pri_text;
              text-transform: uppercase;
              @include x-rem(font-size, 1.2);
            }
            span {
              font-family: 'Copper';
              color: $pri_grey;
              text-transform: uppercase;
              border-bottom: none;
              cursor: pointer;
              @include x-rem(font-size, 1.2);
            }
          }
        }
      }
      .coworkers-content {
        display: none;
      }
      .gridder-expanded-content {
        border-top: 1px solid #000;
        padding-top: 20px;
        span {
          font-family: 'Copper';
        }
        p {
          max-width: 50%;
          margin: 0 auto 30px auto;
          text-align: center;
          font-family: 'Caslo';
          text-transform: none;
          color: $pri_text;
          @include single-column {
            max-width: 100%;
          }
        }
      }
    }
    .sub-contact {
      width: 100%;
      p {
        font-family: 'Copper';
        color: $pri_text;
        text-transform: uppercase;
        border-bottom: none;
        text-align: center;
        line-height: 1.8;
        letter-spacing: 0.8px;
        @include x-rem(font-size, 1.2);
      }
    }
    .border-bottom {
      display: block;
      border-bottom: 1px solid black;
      width: 75%;
      padding-bottom: 30px;
      margin: 0 auto;
    }
  }
}
