.index {
  background-color: #fff;
  text-align: center;
}

.first_section {
  p{

  }
}

.main_link {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.sec_link {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.coworkers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;;
  flex-wrap: wrap;
  li {
    width: 32.5%;
    margin-bottom: 40px;
    word-wrap: break-word;
    @include single-column {
      width: 100%;
    }
    .coworkers-name,
    .coworkers-mobile {
      margin-bottom: 10px;
      font-family: Helvetica, sans-serif;
      color: #000;
      text-transform: uppercase;
      @include x-rem(font-size, 1.2);
    }
    .coworkers-title,
    .coworkers-email,
    .coworkers-tel, {
      margin-bottom: 0;
      font-family: Helvetica, sans-serif;
      color: #000;
      text-transform: uppercase;
      @include x-rem(font-size, 1.2);
    }
  }
}
