.index {
  background-color: #fff;
  text-align: center;
}

.first_section {
  p{

  }
}

.main_link {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.sec_link {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.coworkers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  li {
    flex: 1;
  }
  img {
    width: 90%;

  }
}
